sudo: false
language: python
python:
  - '2.7'
  - '3.4'
  - '3.5'
  - '3.6'
  - pypy
cache:
  directories:
    - $HOME/.pip-cache/
install:
  - pip install -U pip --cache-dir $HOME/.pip-cache
  - pip install pytest==4.0.2 --cache-dir $HOME/.pip-cache
  - pip install -e .[test] --cache-dir $HOME/.pip-cache
before_script:
  - pip install flake8  # 127 == GitHub editor width
  - flake8 . --count --max-line-length=127 --statistics --exit-zero
script:
  - python -m pytest --cov mapbox --cov-report term-missing --cov-branch tests/*.py
  - if [[ $TRAVIS_PYTHON_VERSION == 2.7 && ! -z "$MAPBOX_ACCESS_TOKEN" ]]; then py.test --doctest-glob='*.md' docs/*.md; fi
after_success:
  - coveralls
deploy:
  on:
    tags: true
    condition: "$TRAVIS_PYTHON_VERSION = 3.6"
  provider: pypi
  user: mapboxci
  distributions: "sdist bdist_wheel"
